<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="./tests/unit/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit-Tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="./build/coverage"/>
        <log type="coverage-crap4j" target="./build/logs/crap4j.xml"/>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="testdox-html" target="./build/logs/testdox.html"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>

        </whitelist>
    </filter>
</phpunit>
